<div class="container-fluid p-1">
  <a routerLink="/" class="btn btn-outline-info w-100 mb-3">← Home</a>
</div>

<div class="container">
  <!--<div class="container-fluid">-->
  <!--  <button class="btn" (mouseenter)="openPokeball()" (mouseleave)="closePokeball()">-->
  <!--<img src="{{isOpen ? 'pokeball-opened.png' : 'pokeball-locked.png'}}" alt="pokeball">-->
  <!--  </button>-->
  <!--</div>-->

  <div class="container p-0 m-0">
    <div class="row g-1 justify-content-center">
      @for (pokemon of pokemons; track pokemon.pokedex_id) {
        <div class="pokemon-card">
          <div class="card-inner">
            <div class="card-front">
              <div class="card-frame">
                <h2 class="pokemon-name">{{pokemon?.name?.en}}</h2>
                <img src="{{pokemon?.sprites?.regular}}" alt="{{pokemon?.name?.en}}" class="pokemon-image">
                <div class="pokemon-types">
          <span *ngFor="let type of pokemon?.types" class="type-badge" [style.background-image]="'url(' + type.image + ')'">
            {{type.name}}
          </span>
                </div>
                <div class="pokemon-stats">
                  <div class="stat">
                    <span class="stat-name">hp</span>
                      <span class="stat-value">{{ pokemon?.stats?.hp }}</span>
                  </div>
                  <div class="stat">
                    <span class="stat-name">atk</span>
                      <span class="stat-value">{{ pokemon?.stats?.atk }}</span>
                  </div>
                  <div class="stat">
                    <span class="stat-name">def</span>
                      <span class="stat-value">{{ pokemon?.stats?.def }}</span>
                  </div>
                  <div class="stat">
                    <span class="stat-name">spe_atk</span>
                      <span class="stat-value">{{ pokemon?.stats?.spe_atk }}</span>
                  </div>
                  <div class="stat">
                    <span class="stat-name">spe_def</span>
                      <span class="stat-value">{{ pokemon?.stats?.spe_def }}</span>
                  </div>
                  <div class="stat">
                    <span class="stat-name">vit</span>
                      <span class="stat-value">{{ pokemon?.stats?.vit }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>

</div>
